@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  scrollbar-color: #c7caca #ffffff !important;
  scrollbar-width: thin !important;
}
body {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.2;
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #c7caca;
  border: 0.1em solid #fff;
  border-radius: 100vw;
}

:hover::-webkit-scrollbar-thumb:hover {
  background-color: #ff6f58;
}

@media(max-width:400px){
  .wFull{
    width: 100% !important;
  }
}